#infosImport p {
    margin : 10px 0;
}
#erreurFichier {
    margin-top : 20px;
}
#erreurFichier p {
    color : red;
    padding-left : 30px;
    background: url('/img/sprite.png') no-repeat -35px 0;
}
.infos {
    padding-left : 20px;
    margin-top : 10px;
    background : url('/img/infos.jpg') no-repeat;
}
#input_fichier-label {
    color : #a8ddeb;
}