#infosImport p {
    margin : 10px 0;
}
#erreurFichier {
    margin-top : 20px;
    color : #cd0a0a;
}
.infos {
    padding-left : 20px;
    margin-top : 10px;
    background : url('../img/infos.png') no-repeat;
}
#input_fichier-label, #radioMatiere-label {
    color : #a8ddeb;
}
#divimport {
    text-align : center;
}

.tb_errFic > tbody > tr:last-child {
    border: medium none;
}
.tb_errFic > tbody > tr {
    border-bottom: 3px dotted #A10A0A;
}
.tb_errFic, .soustb_errFic {
    color : #fff;
    width : 100%;
    font-family: Helvetica;
    font-weight: bold;
}
.td_err {
    border-right : 3px dotted #cd0a0a !important;
}
.tb_errFic td {
    border : none;
}
.e-icon {
    display : inline-block;
    width : 16px;
    height : 16px;
    
    background: url(../img/ui-icons_cd0a0a_256x240.png) no-repeat -32px -190px;
}
#h3verif-e, #h3verif-s{
    text-align : center;
}
#h3verif-e {
    color : #a10a0a;
}
#pnvsite, #pcont {
    margin : 20px 10px 10px
}
#spnvsite, #spcont  {
    float : left;
    margin-top: 10px;
}
.linvsite , .licont {
    margin : 10px 0 0 10px;
}
.linvsite a, .licont a {
    padding : 10px;
}
.linvsite a:hover, .licont a:hover {
    background-color: #aaa;
    text-decoration: underline;
}
#tb_insee {
    margin: 0 auto;
    width: 50% !important;
}