#infosImport p {
    margin : 10px 0;
}
#erreurFichier {
    margin-top : 20px;
    color : red
}
.infos {
    padding-left : 20px;
    margin-top : 10px;
    background : url('../img/infos.png') no-repeat;
}
#input_fichier-label, #radioMatiere-label {
    color : #a8ddeb;
}
#divimport {
    text-align : center;
}